/* Fonts */

@font-face {
    font-family: 'Circular Bold';
    src: url('../fonts/Circular-Bold.eot') format('embedded-opentype'),
         url('../fonts/Circular-Bold.woff') format('woff'),
         url('../fonts/Circular-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800
}

@font-face {
    font-family: 'Circular Medium';
    src: url('../fonts/Circular-Medium.eot') format('embedded-opentype'),
         url('../fonts/Circular-Medium.woff') format('woff'),
         url('../fonts/Circular-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 600
}

@font-face {
    font-family: 'Circular Book';
    src: url('../fonts/Circular-Book.eot') format('embedded-opentype'),
         url('../fonts/Circular-Book.woff') format('woff'),
         url('../fonts/Circular-Book.ttf') format('truetype');
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: 'Circular Light';
    src: url('../fonts/Circular-Light.eot') format('embedded-opentype'),
         url('../fonts/Circular-Light.woff') format('woff'),
         url('../fonts/Circular-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

.circular-bold {
    font-family: "Circular Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.circular-medium {
    font-family: "Circular Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.circular-book {
    font-family: "Circular Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.circular-light {
    font-family: "Circular Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Animations */

@keyframes bob {
    0%, 50%, 100%      {top: 0px;}
    13%, 38%, 63%, 88% {top: 5px;}
    25%, 75%           {top: 10px;}
    6%, 44%, 56%, 94%  {top: 2.5px;}
    19%, 31%, 69%, 81% {top: 7.5px;}
}

.bob { /* Custom bob animation */
    animation: bob 2s infinite;
    -webkit-animation: bob 2s infinite;
    -moz-animation: bob 2s infinite;
    -o-animation: bob 2s infinite;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; } to { opacity: 1; }
}

@-moz-keyframes fadeIn {
    from { opacity: 0; } to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; } to { opacity: 1; }
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
}

/* Utilities */

.invert {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    filter: invert(100%);
}

.hidden {
    display: none;
}

/* Global Overrides */

body {
    position: relative;
    overflow-x: hidden;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

u {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    text-decoration: none !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

/* Title */

#colorful-name {
  /* light-blue: #d6f3ff */
  /* light-yellow: #fff0d6 */
  background: -webkit-linear-gradient(left,
    #b4e6fa 0%,
    #ffe2b0 34%,
    #ffd1b2 61%,
    #ffbea6 74%,
    #ffb4b8 86%,
    #ddbfe0 100%
  );
  background: -moz-linear-gradient(left,
    #b4e6fa 0%,
    #ffe2b0 34%,
    #ffd1b2 61%,
    #ffbea6 74%,
    #ffb4b8 86%,
    #ddbfe0 100%
  );
  background: -o-linear-gradient(left,
    #b4e6fa 0%,
    #ffe2b0 34%,
    #ffd1b2 61%,
    #ffbea6 74%,
    #ffb4b8 86%,
    #ddbfe0 100%
  );
  background: linear-gradient(to right,
    #b4e6fa 0%,
    #ffe2b0 34%,
    #ffd1b2 61%,
    #ffbea6 74%,
    #ffb4b8 86%,
    #ddbfe0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#landing {
    background: black;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    transition: 0.3s all ease-in-out;
    z-index: 2000;
}

#landing.active {
    transform: translateY(0%);
}

.landing-link {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 24px;
    font-family: 'Circular Book', Helvetica, Arial, sans-serif;
    transition: 0.3s all ease-in-out;
    z-index: 2002;
}

.landing-link:before, .landing-link:after {
    background: #fff;
    content: '';
    height: 2px;
    position: absolute;
    top: 50%;
    width: 0%;
}

.landing-link:before {
    left: -2.5px;
}

.landing-link:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s ease-in-out;
}

.landing-link:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.landing-link:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

#goto-a {
    position: absolute; left: 5vw; top: 15vh;
}
#goto-b {
    position: absolute; left: 5vw; top: 25vh;
}
#goto-c {
    position: absolute; left: 5vw; top: 35vh;
}
#goto-d {
    position: absolute; left: 5vw; top: 45vh;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
    width: 100%;
    min-width: 375px;
    z-index: 2001;
}

#main-icon {
    height: 10vh;
    width: 10vh;
    float: right;
    margin-right: 5vw;
    margin-top: 5vh;
    cursor: pointer;
}

#title {
    z-index: 100;
    min-width: 375px;
}

#menu-status {
    font-size: 14px;
    position: absolute;
    top: 9.5vh;
    right: 7.5vw;
    cursor: pointer;
}

#menu-status.active {
    transform: translateX(-15px);
}

#menu {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 30px;
    position: absolute;
    top: 10vh;
    left: 5vw;
}

#menu.active {
    transform: translateX(-20px);
}

#menu span {
    display: block;
    margin-bottom: 4px;
    width: 20px;
    height: 2px;
    background: black;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#menu.active span:nth-child(1) {
    transform: rotate(-45deg) translateY(8.5px) ;
}

#menu.active span:nth-child(2n) {
    opacity: 0;
}

#menu.active span:nth-child(3n) {
    transform: rotate(45deg) translateY(-8.5px);
}

#section {
    z-index: 50;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

#hello {
    z-index: 50;
    display: inline-block;
    font-size: 6vh;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#school {
    z-index: 50;
    display: inline-block;
    font-size: 3vh;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

.arrow-nav {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    width: 18px;
}

.arrow-nav a {
    position: absolute;
    display: inline-block;
    z-index: 1000;
    cursor: pointer;
}

.arrow-nav span {
    display: inline-block;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    position: absolute;
}

#go-up {
    height: 225px;
}

#go-up a {
    background: url('../assets/up-arrow.png');
    top: 0;
    left: 0;
    width: 18px;
    max-width: 18px;
    height: 76px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#go-up span {
    transform: rotate(270deg);
    transform-origin: 35px 40px;
    bottom: 80px;
    left: 0;
}

#go-down {
    height: 175px;
}

#go-down a {
    background: url('../assets/down-arrow.png');
    bottom: 0;
    right: 0;
    width: 18px;
    max-width: 18px;
    height: 76px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#go-down span {
    transform: rotate(90deg);
    transform-origin: -7.5px 20px;
}

.center {
    position: relative;
    margin: 0 auto;
    margin-top: 17.5vh;
    height: 65vh;
    width: 55vw;
    z-index: 10;
}

/*
text-align: center;
background: -webkit-linear-gradient(left top, #c1d8e0, #cddadd, #d6d4ce, #d6ccc1, #cbb7b3, #b5a2b2, #a29bb2);
background: -o-linear-gradient(bottom right, #c1d8e0, #cddadd, #d6d4ce, #d6ccc1, #cbb7b3, #b5a2b2, #a29bb2);
background: -moz-linear-gradient(bottom right, #c1d8e0, #cddadd, #d6d4ce, #d6ccc1, #cbb7b3, #b5a2b2, #a29bb2);
background: linear-gradient(to bottom right, #c1d8e0, #cddadd, #d6d4ce, #d6ccc1, #cbb7b3, #b5a2b2, #a29bb2);
*/

#facebook {
    background-color: #2966B8;
    color: white;
}

#apple {
    background-color: white;
    color: #333;
}

#apple u {
    color: #a5adb0;
    background: rgba(165, 173, 176, 0.1);
}

#brown {
    color: white;
    background-color: #FF6961;
}

#interests u {
    color: #ce1141;
    background-color: rgba(255, 0, 0, 0.05);
}

#contact {
    color: white;
    background-color: #62A9FF;
}

#contactContainer {
    text-align: left;
}

#contactIcons {
    position: absolute;
    display: inline-block;
    height: 4vh;
    min-width: 200px;
    max-width: 100vw;
    text-align: left;
    /*top: 60%;
    left: 50%;*/
    transform: translateX(-45%);
}

#contactIcons a:hover {
    text-decoration: none;
}

#contactIcons a img {
    float: left;
    border: 0;
    margin-right: 4vh;
    height: 4vh;
    width: 4vh;
}

#footer {
    display: table;
    width: 100vw;
    min-width: 375px;
    height: 7.5vh;
    color: #ffffff;
    text-align: center;
}

#footer-text {
    z-index: 1000;
    display: table-cell;
    color: #cccccc;
    font-size: 2vh;
    vertical-align: middle;
}

/* Other */

.fullPage {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    height: 100vh;
    margin: auto;
    min-width: 375px;
    position: relative;
    text-align: center;
    width: 100vw;
}

.fullPage p {
    display: table-cell;
    font-size: 5vh;
    width: 50vw;
    max-width: 50vw;
    min-width: 200px;
    overflow: hidden;
    padding: 0 20vw 0 20vw;
    text-align: left;
    vertical-align: middle;
    width: 50vw;
    word-wrap: break-word;
}

.drawer {
    -webkit-background-size: 20% 100%;
    -moz-background-size: 20% 100%;
    -o-background-size: 20% 100%;
    background-size: 20% 100%;
    display: table;
    height: 100%;
    margin: auto;
    min-width: 20vw;
    position: relative;
    text-align: center;
    width: 20%;
}

.drawer p {
    display: table-cell;
    font-size: 5vh;
    width: 50vw;
    max-width: 50vw;
    min-width: 200px;
    overflow: hidden;
    padding: 0 20vw 0 20vw;
    text-align: left;
    vertical-align: middle;
    width: 50vw;
    word-wrap: break-word;
}

@media screen and (max-width: 1100px) {
    #menu-status {
        right: 10vw;
    }
}

@media screen and (max-width: 900px) {
    #hello {
        font-size: 4.5vh;
    }

    #school {
        font-size: 0.5em;
    }

    #go-down, #go-up {
        right: 10vw;
    }

    .fullPage p {
        font-size: 4vh;
    }

    #menu {
        right: 10vw;
    }

    #menu-status {
        right: 15vw;
    }

    #contactIcons a img {
        height: 3vh;
        width: 3vh;
    }
}

@media screen and (max-width: 599px) {
    #goto-facebook {
        left: 10vw; top: 25vh;
    }

    #goto-apple {
        left: 10vw; top: 35vh;
    }

    #goto-brown {
        left: 10vw; top: 45vh;
    }

    #goto-interests {
        left: 10vw; top: 55vh;
    }

    #goto-contact {
        left: 10vw; top: 65vh;
    }

    .arrow-nav {
        width: 14px;
    }

    .arrow-nav span {
        height: 14px;
        font-size: 12px;
    }

    #go-up {
        height: 175px;
    }

    #go-up a {
        width: 14px;
        max-width: 14px;
        height: 60px;
    }

    #go-up span {
        transform-origin: 37.5px 40px;
    }

    #go-down {
        height: 150px;
    }

    #go-down a {
        width: 14px;
        max-width: 14px;
        height: 60px;
    }

    #go-down span {
        transform-origin: -10px 20px;
    }
}

@media screen and (max-width: 499px) {
    #menu-status {
        right: 20vw;
    }

    #menu.active {
        transform: translateX(-5px);
    }
}

@media screen and (max-width: 375px) {
    #fullPage p {
        padding-left: 0;
        margin-left: 50px;
    }
}
