<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Noah's Website"/>
    <meta name="author" content="Noah Fang"/>

    <title>Noah Fang</title>

    <!-- CSS -->
    <link href="css/foo11.css" rel="stylesheet" media="all">
    <link href="css/hover.css" rel="stylesheet" media="all">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>

    <!-- FontAwesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <link href="icons/favicon.png" rel="icon">
</head>

<body>
  <section id="landing" class="drawer">
    <span class="landing-link" id="goto-a">Education</span>
    <span class="landing-link" id="goto-b">Skills</span>
    <span class="landing-link" id="goto-c">Hobbies</span>
    <span class="landing-link" id="goto-d">Contact</span>
    </section>
  <section id="header" class="fade-in">
    <img src="icons/favicon.png" id="main-icon"></img>
    <div id="menu" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </section>
  <section id="title" class="fullPage fade-in">
    <span class="circular-book" id="hello"><span id="colorful-name" style="color: #aaf0d1;">Noah Fang</span></span>
    <!--<span class="circular-book" id="school"><span id="colorful-name" style="color: #aaf0d1;">Student @ Brown University</span></span>-->
    <span id="contactIcons">
            <a target="_blank" href="http://www.facebook.com/noah.fang.3">
                <img src="icons/facebook-icon.png"></img>
            </a>
            <a target="_blank" href="mailto:noah_fang@brown.edu">
                <img src="icons/email-icon.png"></img>
            </a>
            <a target="_blank" href="http://www.linkedin.com/in/noah-fang-034a7a54">
                <img src="icons/linkedin-icon.png"></img>
            </a>
            <a target="_blank" href="assets/Noah_Fang_Resume.pdf">
                <img src="icons/cv-icon.png"></img>
            </a>
            <a target="_blank" href="http://github.com/noahf100">
                <img src="icons/github-icon.png"></img>
            </a>
        </span>
    </section>
</body>
</html>
